<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teledentistry">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TeleDentistry"
        >
        <activity android:name=".DoctorModule.TermsAndConditionActivity"></activity>
        <activity android:name=".DoctorModule.SettingActivity" />
        <activity android:name=".DoctorModule.AboutActivity_Doc" />
        <activity android:name=".DoctorModule.Doc_Main_Profile_Activity" />
        <activity android:name=".DoctorModule.Blogs_and_Articles_Activity_Doc_Module" />
        <activity android:name=".DoctorModule.Doc_Account_Activity" />
        <activity android:name=".DoctorModule.AllAppointments_PatientsInfo_Activity" />
        <activity android:name=".DoctorModule.AllAppointmentsActivity" />
        <activity android:name=".DoctorModule.Calender_and_Schedule_Activity" />
        <activity android:name=".DoctorModule.PatientConsultedActivity" />
        <activity android:name=".DoctorModule.ConsultedPatientListActivity" />
        <activity android:name=".DoctorModule.PatientConsultationActivity" />
        <activity android:name=".DoctorModule.CurrentPatientsListActivity" />
        <activity android:name=".DoctorModule.LoginActivity_Doc_Module" />
        <activity android:name=".DoctorModule.WebView_SplashActivity" />
        <activity android:name=".DoctorModule.DoctorHomeActivity" />
        <activity android:name=".DoctorModule.Doc_profile_activity3" />
        <activity android:name=".DoctorModule.Doc_profile_activity2" />
        <activity android:name=".DoctorModule.Doc_profile_activity1" />
        <activity android:name=".DoctorModule.MainAppHomeActivity" />
        <activity android:name=".PatientModule.ChatBotActivity"></activity>
        <activity android:name=".PatientModule.Blogs_and_Articles_Activity_Pat_Module" />
        <activity android:name=".PatientModule.WebView_SplashActivity" />
        <activity android:name=".PatientModule.EditContactDetailActivity" />
        <activity android:name=".PatientModule.EditProfileActivity" />
        <activity android:name=".PatientModule.settingActivity" />
        <activity android:name=".PatientModule.TermsAndConditionActivity" />
        <activity android:name=".PatientModule.Aboutactivity" />
        <activity android:name=".PatientModule.PatientProfileActivity" />
        <activity android:name=".PatientModule.ConformationFreeAppointmentActivity" />
        <activity android:name=".PatientModule.FreeAppointmentActivty" />
        <activity android:name=".PatientModule.AppointmentEasyPaisaPaySpecialistActivity" />
        <activity android:name=".PatientModule.AppointmentJazzPaySpecialistActivity" />
        <activity android:name=".PatientModule.AppointmentpayFinishSpecialistActivity" />
        <activity android:name=".PatientModule.AppointmentCreditPaySpecialistActivity" />
        <activity android:name=".PatientModule.AppointPaymentMethodSpecialistActivity" />
        <activity android:name=".PatientModule.MyConsultationActivity" />
        <activity android:name=".PatientModule.ConfirmationAppoitnmentActivity" />
        <activity android:name=".PatientModule.AppointmentActivity" />
        <activity android:name=".PatientModule.EasyPaisaPayActivity" />
        <activity android:name=".PatientModule.PayJazzAcountActivity" />
        <activity android:name=".PatientModule.CallAcceptedActicity" />
        <activity android:name=".PatientModule.AfterConnectionActivity" />
        <activity android:name=".PatientModule.RequestedConsultationActivity" />
        <activity android:name=".PatientModule.PayFinishActivity" />
        <activity android:name=".PatientModule.CreditPayActivity" />
        <activity android:name=".PatientModule.PaymentMethodActivity" />
        <activity android:name=".PatientModule.ConsultMeActivity" />
        <activity android:name=".PatientModule.FindDoctorActivity" />
        <activity android:name=".PatientModule.FreeConsultattionActivity" />
        <activity android:name=".PatientModule.SpecialistActivity" />
        <activity android:name=".PatientModule.PatientHomeActivity" />
        <activity android:name=".PatientModule.ContactInformationActivity" />
        <activity android:name=".PatientModule.BasicProfileActivity" />
        <activity android:name=".PatientModule.LoginActivity_Pat_Module" />



        <activity android:name=".IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>